

.navbar {
    background-color: #EF233C !important;
    border-bottom-style: solid;
}

.bg-primary {
    background-color: #2B2D42 !important;
    text-align: center!important;
}
.text-white {
    color: #EDF2F4 !important;
}
.text-center {
    color: #EDF2F4 !important;
}

.masthead-avatar {
    border-radius: 50%;
    height: 260px;
    width: 200px;
    
    
}
.lead {
    padding-top: 4em !important;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}   
.profile {
    
    padding-left: 25px;
}

.masthead-heading {
    text-align: left !important;
}

.footer {
    background-color: #2B2D42;
    
}

.copyright {
    background-color: #EF233C;
    border-top-style: solid;
    border-color: black;
    
}

.modal-content {
    background-color: #2B2D42 !important;  
}

.portfolio-item {
    border-style: solid;
    border-color: #EF233C;
}

.text-secondary {
    color: #EDF2F4 !important; 
}

.contact-me {
    color: #2B2D42 !important;
}